body{
    text-align: center;
    margin:auto;
}

button{
    width: 20%;
    height: 60px;
    margin: auto;
}

#MainDiv{
    display: block;
}

#CompDiv{
    display: none;
}

#freeInput{
    height: 60px;
    width: 70%;
    margin: auto;
    margin-bottom:30px;
    display: block;
    font-size: 40px;
}

#choiseTable{
    margin: 30px auto;
    border-collapse: collapse;
    width: 80%;
    font-size: 60px;
}

#choiseTable tr{
    height:40px;
}

#choiseTable td{

    border-top: solid 1px blue;
}

#selectOutput{
    display: block;
}

#freeOutput{
    display: block;
}